¹Sieben-Tages-Schnitt
<br>
²70% Durchimpfung
<br>
<br>
Quelle der täglichen Impfquoten: <a
  href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/Impfquoten-Tab.html;jsessionid=37896BCE7AA1C3BA98E9ACF86116378E.internet072">RKI</a>
<br>
Stand: {{lastUpdate}}
